.card-body {
    min-height: 500px;
    background: rgb(78,190,178);
    background: linear-gradient(308deg, rgba(78,190,178,1) 0%, rgba(129,238,227,1) 100%);
}
.card,
.card-body {
    border-radius: 25px;
}
.add-gallery-buttons {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texts {
    width: 300px;
    margin: auto;
}
.add-gallery-buttons a {
    width: 60%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.add-gallery-buttons a.btn-outline-light {
    border: 3px solid #ffffff;
    color: #ffffff;
}

@media (max-width: 780px) {
    .add-gallery-buttons a {
        width: 100%;
    }
    .card-body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999999;
        border-radius: 0;
    }

    ul.social-profile{
        margin: 2rem;
    }
}

.delay-1 {
    animation-delay: .1s;
}
.delay-2 {
    animation-delay: .3s;
}
.delay-3 {
    animation-delay: .5s;
}

ul.social-profile {
    padding: 0;
    text-align: center;
    margin-top: 1rem;
}
.social-profile li {
    display: inline-block;
    margin-right: 0;
}
.social-profile li:last-child {
    margin-right: 0; }
.social-profile li a {
    display: block;
    color: #0d233e;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.social-profile li a:hover {
    background-color: #287dfa;
    color: #fff; }

/*======= social--profile ========*/
.social--profile li a {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff; }
.social--profile li a:hover {
    background-color: #287dfa;
    color: #fff; }
